version: 2.0

jobs:
  python27:
    docker:
      # nox got issues with python 2.7 but it can still be used ot test 2.7
      - image: circleci/python:3.6
    steps:
      - checkout
      - run: echo 'export NOX_PYTHON_VERSIONS=2.7' >> $BASH_ENV
      - run: sudo pip install nox
      - run: nox
  python36:
    docker:
      - image: circleci/python:3.6
    steps:
      - checkout
      - run: echo 'export NOX_PYTHON_VERSIONS=3.6' >> $BASH_ENV
      - run: sudo pip install nox
      - run: nox
  python37:
    docker:
      - image: circleci/python:3.7
    steps:
      - checkout
      - run: echo 'export NOX_PYTHON_VERSIONS=3.7' >> $BASH_ENV
      - run: sudo pip install nox
      - run: nox
  coverage:
    docker:
      - image: circleci/python:3.7
    steps:
      - checkout
      - run: sudo pip install nox
      - run: nox -s coverage

  deploy-website:
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - run:
          name: Install node_modules
          command: |
            cd website
            yarn --no-progress
      - deploy:
          name: Deploying to GitHub Pages
          command: |
            git config --global user.email omry@users.noreply.github.com
            git config --global user.name omry
            echo "machine github.com login docusaurus-bot password $GITHUB_TOKEN" > ~/.netrc
            cd website && yarn install && GIT_USER=docusaurus-bot yarn deploy

workflows:
  version: 2
  build:
    jobs:
      - python27
      - python36
      - python37
      - deploy-website:
          filters:
            branches:
              only: master
    parallelism: 10
