version: 2.1

jobs:
  # Mac
  mac_python27:
    macos:
      xcode: "10.0.0"
    steps:
      - checkout
      - run: echo 'export NOX_PYTHON_VERSIONS=2.7' >> $BASH_ENV
      - run: sudo pip3 install nox
      - run: python3 -m nox
  mac_python36:
    macos:
      xcode: "10.0.0"
    steps:
      - checkout
      - run: curl -o Miniconda3-latest-MacOSX-x86_64.sh https://repo.anaconda.com/miniconda/Miniconda3-latest-MacOSX-x86_64.sh
      - run: bash ./Miniconda3-latest-MacOSX-x86_64.sh -b
      - run: ~/miniconda3/bin/conda init bash
      - run: echo 'export NOX_PYTHON_VERSIONS=3.6' >> $BASH_ENV
      - run: ~/miniconda3/bin/conda create -n hydra36 python=3.6 -q -y
      - run: ~/miniconda3/bin/conda run -n hydra36 pip install nox
      - run: ~/miniconda3/bin/conda run -n hydra36 python3 -m nox
  mac_python37:
    macos:
      xcode: "10.0.0"
    steps:
      - checkout
      - run: curl -o Miniconda3-latest-MacOSX-x86_64.sh https://repo.anaconda.com/miniconda/Miniconda3-latest-MacOSX-x86_64.sh
      - run: bash ./Miniconda3-latest-MacOSX-x86_64.sh -b
      - run: ~/miniconda3/bin/conda init bash
      - run: echo 'export NOX_PYTHON_VERSIONS=3.7' >> $BASH_ENV
      - run: ~/miniconda3/bin/conda create -n hydra37 python=3.7 -q -y
      - run: ~/miniconda3/bin/conda run -n hydra37 pip install nox
      - run: ~/miniconda3/bin/conda run -n hydra37 python3 -m nox

  # Linux
  python27:
    docker:
      # nox got issues with python 2.7 but it can still be used ot test 2.7
      - image: circleci/python:3.6
    steps:
      - checkout
      - run: echo 'export NOX_PYTHON_VERSIONS=2.7' >> $BASH_ENV
      - run: sudo pip install nox
      - run: nox
  python36:
    docker:
      - image: circleci/python:3.6
    steps:
      - checkout
      - run: echo 'export NOX_PYTHON_VERSIONS=3.6' >> $BASH_ENV
      - run: sudo pip install nox
      - run: nox
  python37:
    docker:
      - image: circleci/python:3.7
    steps:
      - checkout
      - run: echo 'export NOX_PYTHON_VERSIONS=3.7' >> $BASH_ENV
      - run: sudo pip install nox
      - run: nox
  coverage:
    docker:
      - image: circleci/python:3.7
    steps:
      - checkout
      - run: sudo pip install nox
      - run: nox -s coverage

  # Windows
  windows_python27:
    executor: win/default
    steps:
      - checkout
      - run: $progressPreference = 'silentlyContinue'
      - run: Invoke-WebRequest -OutFile Miniconda3-latest-Windows-x86_64.exe https://repo.anaconda.com/miniconda/Miniconda3-latest-Windows-x86_64.exe
        
#      - run: echo 'export NOX_PYTHON_VERSIONS=2.7' >> $BASH_ENV
#      - run: sudo pip install nox
#      - run: nox

  # Misc
  deploy-website:
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - run:
          name: Install node_modules
          command: |
            cd website
            yarn --no-progress
      - deploy:
          name: Deploying to GitHub Pages
          command: |
            git config --global user.email omry@users.noreply.github.com
            git config --global user.name omry
            echo "machine github.com login docusaurus-bot password $GITHUB_TOKEN" > ~/.netrc
            cd website && yarn install && GIT_USER=docusaurus-bot yarn deploy

workflows:
  version: 2
  build:
    jobs:
      - python27
      - python36
      - python37
      - mac_python27
      - mac_python36
      - mac_python37
      - windows_python27
      - deploy-website:
          filters:
            branches:
              only: master

orbs:
  win: circleci/windows@1.0.0