version: 2.1

jobs:
  # Mac
  py36_mac:
    macos:
      xcode: "10.0.0"
    steps:
      - checkout
      - run:
          name: "Installing Conda"
          command: |
            curl -o Miniconda3-latest-MacOSX-x86_64.sh https://repo.anaconda.com/miniconda/Miniconda3-latest-MacOSX-x86_64.sh
            bash ./Miniconda3-latest-MacOSX-x86_64.sh -b
            ~/miniconda3/bin/conda init bash
      - run:
          name: "Preparing environment"
          command: |
            brew update
            brew install fish
            conda create -n hydra python=3.6 -yq
            conda run -n hydra pip install nox
      - run:
          name: "Testing Hydra"
          no_output_timeout: 10m
          command: |
            export NOX_PYTHON_VERSIONS=3.6
            conda activate hydra
            pip install nox dataclasses
            nox

  py37_mac:
    macos:
      xcode: "10.0.0"
    steps:
      - checkout
      - run:
          name: "Installing Conda"
          command: |
            curl -o Miniconda3-latest-MacOSX-x86_64.sh https://repo.anaconda.com/miniconda/Miniconda3-latest-MacOSX-x86_64.sh
            bash ./Miniconda3-latest-MacOSX-x86_64.sh -b
            ~/miniconda3/bin/conda init bash
      - run:
          name: "Preparing environment"
          command: |
            brew update
            brew install fish
            conda create -n hydra python=3.7 -yq
            conda run -n hydra pip install nox
      - run:
          name: "Testing Hydra"
          no_output_timeout: 10m
          command: |
            export NOX_PYTHON_VERSIONS=3.7
            conda activate hydra
            pip install nox
            nox

  py38_mac:
    macos:
      xcode: "10.0.0"
    steps:
      - checkout
      - run:
          name: "Installing Conda"
          command: |
            curl -o Miniconda3-latest-MacOSX-x86_64.sh https://repo.anaconda.com/miniconda/Miniconda3-latest-MacOSX-x86_64.sh
            bash ./Miniconda3-latest-MacOSX-x86_64.sh -b
            ~/miniconda3/bin/conda init bash
      - run:
          name: "Preparing environment"
          command: |
            brew update
            brew install fish
            conda create -n hydra python=3.8 -yq
            conda run -n hydra pip install nox
      - run:
          name: "Testing Hydra"
          no_output_timeout: 10m
          command: |
            export NOX_PYTHON_VERSIONS=3.8
            conda activate hydra
            pip install nox
            nox

  # Linux
  py36_linux:
    docker:
      - image: circleci/python:3.6
    steps:
      - checkout
      - run:
          name: "Preparing environment"
          command: |
            sudo apt-get update
            sudo apt-get install -y expect fish openjdk-11-jre
            sudo pip install nox
      - run:
          name: "Testing Hydra"
          command: |
              export NOX_PYTHON_VERSIONS=3.6
              pip install nox dataclasses
              nox

  py37_linux:
    docker:
      - image: circleci/python:3.7
    steps:
      - checkout
      - run:
          name: "Preparing environment"
          command: |
            sudo apt-get update
            sudo apt-get install -y expect fish openjdk-11-jre
            sudo pip install nox
      - run:
          name: "Testing Hydra"
          command: |
              export NOX_PYTHON_VERSIONS=3.7
              pip install nox
              nox

  py38_linux:
    docker:
      - image: circleci/python:3.8
    steps:
      - checkout
      - run:
          name: "Preparing environment"
          command: |
            sudo apt-get update
            sudo apt-get install -y expect fish openjdk-11-jre
            sudo pip install nox
      - run:
          name: "Testing Hydra"
          command: |
              export NOX_PYTHON_VERSIONS=3.8
              pip install nox
              nox

  # windows
  py36_win:
    executor: win/default
    steps:
      - checkout
      - run:
          name: Preparing system
          command: |
            choco install -y --no-progress miniconda3
            C:\tools\miniconda3\Scripts\conda.exe init powershell
            choco install -y --no-progress openssl javaruntime
      - run:
          name: Preparing conda environment
          command: |
            conda create -n hydra python=3.6 pywin32 -qy
            conda activate hydra
            pip install nox dataclasses
      - run:
          name: Testing Hydra
          no_output_timeout: 20m
          command: |
            $env:NOX_PYTHON_VERSIONS=3.6
            $env:PYTHONIOENCODING="utf_8"
            conda activate hydra
            nox
            exit $LASTEXITCODE

  py37_win:
    executor: win/default
    steps:
      - checkout
      - run:
          name: Preparing system
          command: |
            choco install -y --no-progress miniconda3
            C:\tools\miniconda3\Scripts\conda.exe init powershell
            choco install -y --no-progress openssl javaruntime
      - run:
          name: Preparing conda environment
          command: |
            conda create -n hydra python=3.7 pywin32 -qy
            conda activate hydra
            pip install nox
      - run:
          name: Testing Hydra
          no_output_timeout: 20m
          command: |
            $env:NOX_PYTHON_VERSIONS=3.7
            $env:PYTHONIOENCODING="utf_8"
            conda activate hydra
            nox
            exit $LASTEXITCODE

  py38_win:
    executor: win/default
    steps:
      - checkout
      - run:
          name: Preparing system
          command: |
            choco install -y --no-progress miniconda3
            C:\tools\miniconda3\Scripts\conda.exe init powershell
            choco install -y --no-progress openssl javaruntime
      - run:
          name: Preparing conda environment
          command: |
            conda create -n hydra python=3.8 pywin32 -qy
            conda activate hydra
            pip install nox
      - run:
          name: Testing Hydra
          no_output_timeout: 20m
          command: |
            $env:NOX_PYTHON_VERSIONS=3.8
            $env:PYTHONIOENCODING="utf_8"
            conda activate hydra
            nox
            exit $LASTEXITCODE
  # Misc
  coverage:
    docker:
      - image: circleci/python:3.6
    steps:
      - checkout
      - run: sudo pip install nox
      - run: nox -s coverage

  deploy-website:
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - deploy:
          name: Deploying to GitHub Pages
          command: |
            SUBDIR=website
            REV=$(git log -5 --pretty=oneline origin/gh-pages | grep "Deploy website" |  awk 'NF>1{print $NF}'  | head -1)
            # This condition passes in 2 conditions:
            # 1. The revision does not exist (squash/force push happened)
            # 2. There are changes between last deployed revision and HEAD
            if [[ ! $(git rev-parse --verify -q "$REV^{commit}") ||  $(git diff-index $REV -- $SUBDIR) ]]; then
              echo "Changes detected in directory $SUBDIR between origin/master and this diff"

              cd $SUBDIR
              yarn --no-progress

              git config --global user.email omry@users.noreply.github.com
              git config --global user.name omry
              echo "machine github.com login docusaurus-bot password $GITHUB_TOKEN" > ~/.netrc
              yarn install && GIT_USER=docusaurus-bot yarn deploy
            else
              echo "No changes detected in directory $SUBDIR between origin/master and this diff"
            fi

workflows:
  version: 2
  build:
    jobs:
      # linux
      - py36_linux
      - py37_linux
      - py38_linux
      # mac
      - py36_mac
      - py37_mac
      - py38_mac
      # windows
      - py36_win
      - py37_win
      - py38_win
      - deploy-website:
          filters:
            branches:
              only: master

orbs:
  win: circleci/windows@1.0.0
